*, *::before, *::after {
    
    box-sizing: border-box;
}

body {
    background-color: transparent;
}

body::-webkit-scrollbar {
    display: none;
}

section{
    border-bottom: .125rem rgba(0, 0, 0, 0.2) solid;
    /* replace border-botton with "<hr>" ???*/
    text-align: center;

}
section.container-fluid {
    padding: 0;
}

section.first {
    /* margin-top: 2em; */
    color: rgba(255, 255, 255, 0.8);

}

section.last {
    border: none;
}
#headingGroup h1 {
    /* color: #ffffff;
    font-size: 4rem; */
    width: 100%;
}
#mainNavbar {
    /* height: 200px; */
}

/* #mainNavbar .navbar-brand {
    color: #000000;
} */

.nav-link {
    color: #fff;
}

#mainNavbar .nav-link:hover {
    color: red;
}

.logo {
    width: 9.5em;
    margin-right: 0.75em;
}

a.navbar-brand {
    padding: 0;
    margin: 0;
}
.container {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;
}
.main {
    float: left;
}
#navlinks {
    display: flex;
    /* float: right; */
    align-items: right;
    padding-left: 20px;
}
.main-right {
    /* display: flex; */
    align-items: right;

}
.main-right::before {
    /* display: flex; */
    /* float: right; */
    /* align-items: right; */
    /* justify-content: right; */
    /* right: 0; */
}

.fa {
    color: white;
    padding-top: 6px;
}

a.fa-twitter {
    /* padding-right: 6px; */
}

a.fa-twitter:hover {
    color: #10ACEE;
    text-decoration: none;
}
a.fa-instagram {
    /* padding-left: 6px; */
}

a.fa-instagram:hover {
    /* color: #c988b2; */
    color: #C13584;
    text-decoration: none;
}
a.fa-facebook {
    /* padding-left: 6px; */
}

a.fa-facebook:hover {
    /* color: #c988b2; */
    color: #3b5998;
    text-decoration: none;
}
a.fa-youtube {
    /* padding: 0 6px 0 6px; */
}

a.fa-youtube:hover {
    /* color: #c988b2; */
    color: #cc181e;
    text-decoration: none;
}
nav.navbar {
    background-color: transparent;
    transition: 100ms ease-in;
}

.navbar.scrolled {
    background-color:white;
    /* transition: background 500ms; */
}
.logo-scroll {
    color: #919191;
}

/* .navbar-brand-white {
    content: url("/Users/scuba/Documents/40_Projects/50_Websites/20_Custom/x_PRT4LI0/20_DOM/40_V4/20_imgs/CW.png");
} */
li.nav-item{
    font-style: normal;
    font-size: 1em;
    /* padding-left: 10px;
    padding-right: 10px; */
    padding: 0 0.75rem 0;
}

img {
    width: 100%;
}

button.car-button {
    margin-top: 25rem;
    border-radius: 0.25em;
    border: none;

}
button.car-button:focus {
    border: none;
    outline: none;

}

button.car-button:hover {
    background-color: #000000;
    color: #ffff
}

/* img:hover {
    Plays gif when hovering
    width: 100%;
    opacity: 0;
    background-image: url("x_PRT4LI0/20_DOM/10_V1/20_imgs/LS_1.gif");
}  */

.full {
    width: 100%;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    background-color: transparent;
}

.footer {
    font-size: 10px;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.4); */
    align-items: center;
    justify-content: center;
    padding: 0 15px 3px;
    transform: translateY(2rem);
}

.foot1 {
margin: 0;
text-align:right;
background-color: transparent;
}

/* .foot2 {
margin: 0;
text-align: right;
background-color: rgba(0, 0 , 0 , 0);
padding-left: 25%;
} */

p {
    text-align: center;
    width: 100%;

}

p#press {
    text-align: center;
    width: 100%;
}
p.solo {
    margin: 0rem 0 1rem;
    transform: translateY(50%);
}
p.note {
    margin: 0;
}
h6.price {
    font-style: italic;
    font-size: .8em;
    padding: 0;
    margin: 0;


}
.car-content {
    width: 100%;
}
.home-content {
    width: 100%;
    animation: fadeInBody ease-in 1.5s;
}


div.pk li {
    align-content: center;
    justify-content: center;
    text-align: center;
}

div.pk {
    padding: 0 7rem 0;
}

.a2c {
padding: 0;
text-align: center;


}

.a2c:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    filter: blur(2px);
    
    /* *PERFECT FOR DOM MANIPULATION---- IMPLEMENT ADD TO CART FUNCTION VIA HOVER* */
}
.gif {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url("LS_1.gif");
    background-size: cover;
    background-repeat: none;
    height: 43em;
}

.gif2 {
    text-align: center;
    /* align-items: center; */
    justify-content: center;
    /* background-color: #fff;
    color: black; */
    background-image: url("SLECA2.gif");
    color: rgba(255, 255, 255, 0.8);
    background-size: cover;
    background-repeat: none;
    height: 39.5em;
    

}

.gif3 {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url("250LM.gif");
    background-size: cover;
    background-repeat: none;
    height: 39.5em;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: none;
}

.car1 {
    margin-right: 10em;
    /* margin: 0; */
    padding: 0;
    display: inline;
    transform: translateY(-4rem);
}
.car2 {
    margin-left: 10em;
    /* margin: 0; */
    padding: 0;
    display: inline;
    transform: translateY(-4rem);
}
.center {
    justify-content: center;
    align-content: center;
    text-align: left;
    display: flex;
    margin-top: 0.5em;
}


div.list{
    margin-right: 0;
    font-size: 14px;
    padding: 0;
    display: inline;

}

div.list2{
    margin: 0;
    padding: 0;

}
.column1 {
    float: left;
    padding: 0;
    /* margin-right: 3rem; */
}

.column2 {
    float: left;
    padding: 0;
    right: 0;

}
.priceC {
    padding-top: 0;
    /* transform: translateY(50%); */
    color: white;
    position: absolute;
    /* bottom: 15%; */
    justify-content: center;
}

/* ul {
    padding-left: 1rem;
} */

ul.i1 {
    padding-left: 1rem;
}
ul.i2 {
    padding-left: 1rem;
}

.ulP {
    padding: 0;
}

li {
    font-size: 12px;
    list-style: none;
    font-style: italic;
}


span.bold {
    font-weight: bold;
    font-size: 13px;
    font-style: normal;
    text-transform: uppercase;
}

img.car1-dec {
    /* border: 1rem rgba(117, 117, 117, 0.7) solid; */
    border-radius: 0.75rem;
    box-shadow: 0 0 5px black;
    
}

img.car1-dec:hover {
    box-shadow: 0 0 5px white;
    
}
/* iframe {
    width: 520px;
    height: 293px;
} */

/* 
@media only screen and (max-width: 700px) {
    section.first {
        margin-top: 2.5em;
        background-image: url("/Users/scuba/Documents/40_Projects/50_Websites/20_Custom/x_PRT4LI0/20_DOM/10_V1/20_imgs/LS_1.gif");
        background-size: cover;
        background-repeat: none;
        width: 560px;
    
    }
} */

@media only screen and (max-width: 700px) {
    .cars {
        margin-right: 0;
    }

}

body, html {
    overflow-x: hidden;
    animation: fadeInBody ease-in 1s;
}


@keyframes fadeInBody { 
    0% {
        opacity: 0;
    }
    100% {
    opacity: 1;
    }
}
